<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        </style>
    </head>
    <table>
        <thead>
            <tr>
                <th>Categorias de Eventos:</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>
                        <a href="{% url 'exibir_categoria' categoria.id %}">Engenharia de Software {{ categoria.nome }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</html>
